* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


body {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 26px;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.container {
    margin: 0 auto;
}

.calendar {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 201px 0 0 0;
    height: 100vh;
    gap: 35px;
    font-size: 56px;
}

@media (max-width: 800px) {
    .calendar {
        font-size: 33px;
    }
}

.calendar__title, .calendar__input, .timer, .btn__start, .btn__stop {
    position: relative;
    z-index: 1;
}

@media(max-width: 492px) {
    .calendar__title {
        max-width: 300px;
    }
}

input {
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(53, 51, 51, 0.71);
    border-radius: 10px;
    height: 80px;
    transition: all 0.8s ease-in;
}

input:hover {
    box-shadow: 4px 3px 36px #fff9f9a8;
    background-color: rgba(117, 110, 110, 0.886);
}

@media(max-width: 492px) {
    input {
        max-width: 300px;
    }
}

.timer {
    display: none;
    gap: 20px;
    font-size: 55px;
}

@media (max-width: 660px) {
    .timer {
        font-size: 33px;
    }
}

@media (max-width: 424px) {
    .timer {
        font-size: 22px;
        height: 80px;
        align-items: center;
        justify-content: center;
    }
}

.timer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
}


#stars { 
    background:#202021;
    width:100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    }
    #stars:hover { 
    background:#4a4545fb;
}

button {
    border: 1px solid rgb(255, 255, 255);
    width: 305px;
    background-color: rgba(53, 51, 51, 0.71);
    border-radius: 10px;
    height: 80px;
    transition: box-shadow background-color 0.4s ease-in;
}

button:hover {
    box-shadow: 4px 3px 36px #fff9f9a8;
    background-color: rgba(117, 110, 110, 0.886);
}



h1 {
    background-color: rgba(53, 51, 51, 0.71);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 450px;
    height: 73px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interactive_bg {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
